/node_modules
/public/hot
/public/storage
/public/js/app.js
public/js/vendor.js
public/js/manifest.js
public/js/vendor.js.LICENSE.txt
/public/css/app.css
/public/mix-manifest.json
/public/fonts/vendor
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/debugbar
public/js/app.js.LICENSE.txt
.eslintrc.js
storage/app/public/imgs
storage/app/public/gifs
storage/app/public/ogps
storage/app/public/.DS_Store
storage/.DS_Store
.package-lock.json
composer.lock