/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/mix-manifest.json
/storage/debugbar
/storage/*.key
/storage/app/public/gifs
/storage/app/public/.DS_Store
/storage/.DS_Store
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.eslintrc.js
.DS_Store