*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

.v-application--wrap {
  background-color: white;
}

.body-color {
  /* background-color: rgb(245, 245, 245) !important; */
  background-color: white;
}

.container--small {
  margin: 0 auto;
  max-width: 600px;
  background-color: white;
  padding-bottom: 125px;
}

.full-height {
  min-height: 100vh;
}

.v-expansion-panel-header {
  line-height: 1.5 !important;
}

.v-expansion-panel--active > .v-expansion-panel-header {
  min-height: 32px !important;
}

.yt-container {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 56.25%;
  margin: 0 auto;
  overflow: hidden;
}

.yt-container iframe {
  position: fixed;
  top: 0px;
  z-index: 100;
}

/* .highlight-body .ytPlayerWrapper iframe,
.watch-body .ytPlayerWrapper iframe {
  position: absolute
  top: 0px;
} */

.ytPlayerWrapper {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlightControllerBody {
  position: relative;
}

.v-overlay__content {
  width: 100%;
  height: 100%;
}

.button {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  color: #8a8a8a;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  -webkit-transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.iframeHeight {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: absolute;
  bottom: 15px;
}

.button:hover {
  border-color: #333;
  color: inherit;
}

.button--link {
  border: 0;
}

.isLiked {
  color: red !important;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(32, 32, 32, 0.5) !important;
  z-index: 1;
}

.overlayWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 0;
}

.ios-wrapper-mask {
  width: 100%;
  height: 15px;
  background: white;
  position: absolute;
  z-index: 1;
}

.ios-wrapper {
  width: 100%;
  height: 15px;
  background: #e0e0e0;
  position: absolute;
  border-radius: 8px;
  padding: 3px 32px;
  z-index: 2;
}

.ios-ytseekbar-wrapper {
  width: 100%;
  height: 9px;
  background: black;
  position: relative;
  z-index: 3;
}

.ytseekbar-wrapper {
  width: 100%;
  height: 15px;
  background: black;
  position: absolute;
  z-index: 3;
}

.ios-ytseekbar-mask {
  width: 100%;
  height: 9px;
  background: transparent;
  position: absolute;
  z-index: 5;
}

.ytseekbar-mask {
  width: 100%;
  height: 15px;
  background: transparent;
  position: absolute;
  z-index: 5;
}

.ios-ytseek-head {
  background-color: #ff0000;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  position: relative;
  left: -6.5px;
  top: -2px;
  width: 13px;
  height: 13px;
  z-index: 6;
}

.ytseek-head {
  background-color: #ff0000;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  position: relative;
  left: -4px;
  top: 0px;
  width: 15px;
  height: 15px;
  z-index: 6;
}

/* .ytseek-inner {
  background-color: #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  z-index: 7;
} */

.ios-highlight-content {
  height: 9px;
  background-color: #00d873;
  position: absolute;
  top: 0px;
  z-index: 4;
}

.highlight-content {
  height: 15px;
  background-color: #00d873;
  position: absolute;
  top: 0px;
  z-index: 4;
}

.ios-left-triangle {
  position: absolute;
  top: 0px;
  height: 9px;
  border-bottom: 4.5px solid transparent;
  border-top: 4.5px solid transparent;
  border-right: 3px solid #00d873;
  z-index: 4;
}

.left-triangle {
  position: absolute;
  top: 0px;
  height: 15px;
  border-bottom: 7.5px solid transparent;
  border-top: 7.5px solid transparent;
  border-right: 3px solid #00d873;
  z-index: 4;
}

.ios-right-triangle {
  position: absolute;
  top: 0px;
  height: 9px;
  border-bottom: 4.5px solid transparent;
  border-top: 4.5px solid transparent;
  border-left: 3px solid #00d873;
  z-index: 4;
}

.right-triangle {
  position: absolute;
  top: 0px;
  height: 15px;
  border-bottom: 7.5px solid transparent;
  border-top: 7.5px solid transparent;
  border-left: 3px solid #00d873;
  z-index: 4;
}

.now-playing img {
  margin-right: 10px;
  vertical-align: middle;
  width: 32px;
  max-height: 32px;
}

.now-playing span {
  vertical-align: middle;
}

.tag-list-move {
  transition: all 1s;
}

.tag-list-enter-to {
  transition: all 1s;
}

.tag-list-enter {
  opacity: 0;
  transform: translateY(35px);
}

.tag-list-leave-to {
  opacity: 0;
  transform: translateY(-35px);
}

.tag-list-leave-active {
  position: absolute;
  transition: all 0.5s;
}

.transitForward-enter-active,
.transitForward-leave-active {
  transition: all 0.5s;
}

.transitForward-enter {
  transform: translateX(100vw);
}

.transitForward-leave-active {
  position: absolute;
  transform: translateX(-100vw);
}

.transitBackward-enter-active,
.transitBackward-leave-active {
  transition: all 0.5s;
}

.transitBackward-enter {
  transform: translateX(-100vw);
}

.transitBackward-leave-active {
  position: absolute;
  transform: translateX(100vw);
}

.my-grey {
  color: gray !important;
}

.commentListExpansionPanelCustomHeader {
  align-items: start !important;
  height: 80px;
  padding-top: 16px !important;
}

.commentListExpansionPanelCustomHeaderContent {
  position: absolute;
  left: 16px;
  bottom: 0;
}

.sceneListExpansionPanelCustomHeader {
  align-items: start !important;
  height: 184px;
  padding-top: 16px !important;
}

.sceneListExpansionPanelCustomHeadermobileHight {
  height: 160px;
}

.sceneListExpansionPanelCustomHeaderContent {
  position: absolute;
  top: 48px;
  left: 0px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0px;
  padding-bottom: 16px;
}

.outlined-icon {
  color: transparent !important;
  -webkit-text-stroke-color: #ababab;
  -webkit-text-stroke-width: 1px;
}

.inner-outlined-icon .v-icon {
  color: transparent !important;
  -webkit-text-stroke-color: #ababab;
  -webkit-text-stroke-width: 1px;
}

.my-grey-heart {
  color: rgb(158, 158, 158);
}

.horizontal-list-wrap {
  padding: 0;
  height: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.horizontal-list {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.v-application ul {
  padding: 0px 8px 4px;
}

.item {
  display: inline-block;
  text-align: left;
}

.v-list-item__title {
  height: auto;
  max-height: 3.75em;
}

.v-list-item__content {
  padding: 0px;
}

.wrap-text {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.3 !important;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.opacity-background {
  opacity: 0.8;
}

.corner-radius {
  border-radius: 3px;
}

.v-card__title {
  padding: 8px 0px 0px;
}

.v-card__text {
  padding: 0px 0px 4px;
}

.fas {
  vertical-align: middle;
}

.bottom_navigation_no_shadow {
  box-shadow: none !important;
}

.v-expansion-panel::before {
  box-shadow: none !important;
}

.bottomPosition {
  position: absolute;
  bottom: 24px;
  right: 0;
}

.iosBottomPosition {
  position: absolute;
  bottom: 128px;
  right: 0;
}

.highlight-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  /* height: 48px; */
  z-index: 100;
}

.highlight-body {
  position: relative;
  top: 48px;
  left: 0px;
  width: 100%;
  min-height: calc(100vh - 48px - 56px);
}

.watch-body {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: calc(100vh - 56px);
}

.highlightBodyUpper {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 48px - 56px - 24px - 162px);
}

.iosHighlightBodyUpper {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 48px - 56px - 128px - 162px);
}

.search-box {
  /* position: fixed; */
  position: relative;
  width: 100%;
  height: 48px;
  top: 48px;
  /* left: 0; */
  margin-top: 2px;
  z-index: 10;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.v-skeleton-loader__list-item-three-line {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}

.v-label {
  font-size: 80%;
}

.scenePrivacySettingBox label {
  left: -33px !important;
}

.playlistTitleInputBox .v-label,
.scenePrivacySettingBox .v-label,
.playlistCategoryBox .v-label,
.playlistEditModeInputBox .v-label,
.sceneMyPlaylistToSaveBox .v-label,
.sceneTagInputBox .v-label {
  font-size: 100%;
}

.sceneTagInputBox .v-label {
  top: 16px;
}

.sceneTagInputBox .v-label--active {
  transform: translateY(-26px) scale(0.75);
}

.sceneTagInputBox .v-input__append-inner {
  margin-top: 13px !important;
}

.playlistCategoryBox .v-select__selections {
  margin: 0 !important;
  padding: 0px !important;
}

.playlistCategoryBox .v-input__control .v-input__slot .v-select__slot input {
  margin: 0 !important;
  padding: 8px !important;
}

.v-select.v-input--dense .v-select__selection--comma {
  margin: 5px 4px 8px 0 !important;
}

.icon-large {
  font-size: 24px !important;
}

.fa-heart-font {
  font-size: 24px !important;
}

.share-font {
  font-size: 36px !important;
}

.narrow-btn {
  min-width: 64px !important;
}

.ex-narrow-btn {
  min-width: 32px !important;
}

.centered-input input {
  text-align: center;
}

.my-login-font-color {
  color: rgb(6, 95, 212) !important;
}

.homepage-tabs {
  max-width: 400px;
}

.homepage-tabs .v-slide-group__prev {
  display: none !important;
}

.homepage-tabs .activated-tab {
  font-weight: bold;
  position: relative;
}

/* .homepage-tabs .activated-tab::after {
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #db8f01d0;
  top: 12px;
  right: 52px;
} */

.scene-chip {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  /* white-space: pre; */
}

.my-scene-chip {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 2px;
  height: 20px !important;
  /* white-space: pre; */
}

.my-scene-time {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
  height: 20px !important;
}

.tag-chip {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-tag-chip {
  margin-right: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 4px;
  padding-right: 8px;
  height: 20px !important;
}

.v-application--is-ltr .v-chip .v-avatar--left,
.v-application--is-ltr .v-chip .v-icon--left {
  margin-left: 0px;
  margin-right: 0px;
}

.theme--light.v-select .v-select__selection--disabled {
  color: rgba(0, 0, 0, 0.87) !important;
}

.block-playlist-title {
  display: block;
  display: -webkit-box;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px;
  margin-right: 0;
  padding-top: 1px;
  font-size: 12px;
  line-height: 1.1;
  min-height: 18px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-and-search-result-title {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  max-height: 45px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fontsize-caption {
  font-size: 12pt;
}

.block-chip-lines3 {
  max-height: 50px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #e3f2fd;
  font-size: 12px;
  font-weight: bold;
}

.color-black {
  color: #000000;
}
.color-light-blue {
  color: #e3f2fd;
}
.cursor-pointer {
  cursor: pointer !important;
}

.block-chip-lines2 {
  max-height: 50px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  /* height: 50px; */
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.block-chip-line {
  max-height: 25px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  /* height: 50px; */
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #e3f2fd;
  font-size: 20px;
  font-weight: bold;
}

.video-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.v-expansion-panel-content__wrap {
  padding: 0 2px 16px;
}

.scene-order {
  border: 1px solid green;
  color: green;
  background-color: #f1f8e9;
  position: absolute;
  top: 5px;
  left: 5px;
}

.mostLikedComment-body {
  display: -webkit-box;
  max-height: 16px;
  line-height: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.comment-body {
  line-height: 1;
  overflow: hidden;
}
.placeholder-color {
  color: #777676;
  font-size: 13px;
}

div.v-snack:not(.v-snack--absolute) {
  height: 100%;
}

/** edit on 2020-11-07 **/
.my-app-bar {
  transition: all 0.3s ease-in-out;
}
.my-search-span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.my-autocomplete {
  flex: 1;
}
.my-full-bar {
  max-width: 1600px !important;
}

/* .my-footer-menu:before {
  position: absolute;
  top: 20px;
  left: 50%;
  display: block;
  content: " ";
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%);
  z-index: -1;
} */

.my-footer-icon {
  background-color: white !important;
}
.my-footer-icon i {
  top: -3pt;
}
.my-footer-icon span {
  margin-top: -2px;
}

.activeSearch {
  background-color: #dddddd;
  border-radius: 25px;
  align-items: center;
  margin: 0px -8px 0px -15px;
  padding: 0 5px;
}
.activeSearch .v-input__slot::after,
.activeSearch .v-input__slot::before {
  border: none !important;
}
.activeSearch .v-text-field__details {
  display: none;
}
.my-full-bar .row {
  flex-wrap: nowrap !important;
}
#searchDropdown {
  position: relative;
}
#searchDropdown .v-autocomplete__content {
  top: 1px !important;
  max-width: 100% !important;
  width: 100% !important;
}

.add-play-screen {
  display: flex;
  width: 100%;
  height: 94px;
  background: #e0e0e0;
  border-radius: 4px;
}

.fz-17 {
  font-size: calc(1rem * (17 / 14));
  font-weight: normal;
}

.fz-14 {
  font-size: calc(1rem * (14 / 14));
  font-weight: normal;
}

.fz-12 {
  font-size: calc(1rem * (12 / 14));
  font-weight: normal;
}

.text-gray-600 {
  --text-opacity: 1;
  color: #807d79;
  color: rgba(128, 125, 121, var(--text-opacity));
}

.text-s {
  font-size: 12px;
}

.leading-none {
  line-height: 1;
  position: absolute;
  top: 37.5%;
  left: 100px;
  object-fit: contain;
}

.activeSearch .v-input__icon {
  width: 32px;
}

.bzagnP {
  height: 565px;
  width: 279px;
  min-width: 279px;
  position: relative;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(35, 35, 35);
  border-radius: 32px;
  overflow: hidden;
  background: rgb(1, 1, 1);
  box-shadow: rgba(22, 22, 22, 0.2) 0px 4px 32px;
}

.bzagnP::before {
  width: 180px;
  height: 20px;
  background: rgb(17, 17, 17);
  border-radius: 0px 0px 16px 16px;
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.bzagnP::after {
  width: 50px;
  height: 4px;
  background: rgb(34, 34, 34);
  margin: 0px auto;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  display: block;
  content: "";
  box-sizing: border-box;
}

.gNIwkZ > div {
  display: inline-block;
}

.userguideSectionTitle {
  font-size: 36px;
  letter-spacing: 3.2px;
  line-height: 1.5;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit !important;
}

.v-tab {
  min-width: 64px !important;
  padding: 0 !important;
}

.tabItemWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customVIcon {
  width: 40px !important;
  height: 40px;
  text-align: center;
}

.tabItem {
  background: grey;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.tabName {
  text-transform: none;
  width: 60px;
}

.vtuberIcon {
  font-size: 24px;
  color: white;
  line-height: 40px;
  font-weight: bold;
  padding-left: 3px;
}

.fontColorPrimary {
  color: #a5d6a7;
}

.fontColorWhite {
  color: white;
}

.ribbon-content > .v-image,
.ribbon-content-mypage > .v-image {
  z-index: inherit;
}

.ribbon-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 85px;
  overflow: hidden;
  z-index: 3;
}

.ribbon-image {
  right: -4px;
  top: 46px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ribbon-text {
  display: inline-block;
  position: absolute;
  padding: 5px 0;
  right: -24px;
  top: 20px;
  width: 160px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background: #a5d6a7;
  color: black;
  letter-spacing: 0.05em;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-shadow: 0 0 0 2px #a5d6a7;
  border-top: dashed 1px rgba(255, 255, 255, 0.65);
  border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
}

.ribbon-content-mypage {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 85px;
  overflow: hidden;
  z-index: 3;
}

.ribbon-image-mypage {
  right: -3px;
  top: 32px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ribbon-text-mypage {
  display: inline-block;
  position: absolute;
  padding: 5px 0;
  right: -20px;
  top: 14px;
  width: 160px;
  text-align: center;
  font-size: 11px;
  line-height: 4px;
  background: #a5d6a7;
  color: black;
  letter-spacing: 0.05em;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-shadow: 0 0 0 2px #a5d6a7;
  border-top: dashed 1px rgba(255, 255, 255, 0.65);
  border-bottom: dashed 1px rgba(255, 255, 255, 0.65);
}
