.candidatesWrap {
  width: 300px;
  border: solid 1px #000000;
}

.item p {
  margin: 0px;
}

.isEven {
  background-color: #dddddd;
}

.v-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  transition: 0.3s;
}

.v-modal .modal-in-box {
  width: 50%;
  padding: 1.2rem;
  background-color: #ffffff;
}

.info-area {
  align-items: center;
}

.isLiked {
  color: red;
}

.tag {
  display: inline-block;
  margin: 0 0.1em 0.6em 0;
  padding: 0.6em;
  line-height: 1;
  text-decoration: none;
  color: #0000ee;
  background-color: #fff;
  border: 1px solid #0000ee;
  border-radius: 2em;
}
