*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

.v-application--wrap {
  background-color: rgb(245, 245, 245);
}

.body-color {
  background-color: rgb(245, 245, 245) !important;
}

.body-margin-bottom {
  margin-bottom: 100px;
}

.container--small {
  margin: 0 auto;
  max-width: 600px;
}
.container--small .container {
  /* padding: 0px 0px 12px 0px; */
}

.yt-container {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 56.25%;
  margin: 0 auto;
  overflow: hidden;
}

.yt-container iframe {
  position: fixed;
  top: 0;
  z-index: 100;
}

.button {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  color: #8a8a8a;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  -webkit-transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover {
  border-color: #333;
  color: inherit;
}

.button--link {
  border: 0;
}

.isLiked {
  color: red;
}

.tag-list-move {
  transition: all 1s;
}

.tag-list-enter-to {
  transition: all 1s;
}

.tag-list-enter {
  opacity: 0;
  transform: translateY(35px);
}

.tag-list-leave-to {
  opacity: 0;
  transform: translateY(-35px);
}

.tag-list-leave-active {
  position: absolute;
  transition: all 1s;
}

.controle-next-enter-active,
.controle-next-leave-active {
  transition: all 1s;
}

.controle-next-enter {
  transform: translateX(100vw);
}

.controle-next-leave-active {
  position: absolute;
  transform: translateX(-100vw);
}

.controle-previous-enter-active,
.controle-previous-leave-active {
  transition: all 1s;
}

.controle-previous-enter {
  transform: translateX(-100vw);
}

.controle-previous-leave-active {
  position: absolute;
  transform: translateX(100vw);
}

.my-grey {
  color: gray;
}

.my-grey-heart {
  color: rgb(158, 158, 158);
}

.horizontal-list-wrap {
  padding: 0;
  /* height: 40px; */
  overflow-x: hidden;
  overflow-y: hidden;
}

.horizontal-list {
  margin: 0;
  padding: 0;
  /* height: calc(100% + 17px); */
  /* width: 350px; */
  /* padding-bottom: 17px; */
  /* overflow-x: scroll; */
  white-space: nowrap;
}
/* https://qiita.com/naru0504/items/ff0c77775223dc5a9148 */

.v-application ul {
  padding: 0px 8px 4px;
}

.item {
  display: inline-block;
  text-align: left;
}

.v-list-item__title {
  height: auto;
  max-height: 3.75em;
}

.v-list-item__content {
  padding: 0px;
}

.wrap-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
}

.opacity-background {
  opacity: 0.8;
}

.corner-radius {
  border-radius: 3px;
}

.v-card__title {
  padding: 8px 0px 0px;
}

.v-card__text {
  padding: 0px 0px 4px;
}

.fas {
  vertical-align: middle;
}

.bottom_navigation_no_shadow {
  box-shadow: none !important;
}

.bottom-position {
  position: absolute;
  bottom: 0;
  right: 0;
}

.search-box {
  position: fixed;
  width: 100vw;
  height: 56px;
  bottom: 56px;
  left: 0;
  z-index: 10;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.v-skeleton-loader__list-item-three-line {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}

.v-label {
  font-size: 80%;
}

.icon-large {
  font-size: 28px !important;
}

.fa-heart-font {
  font-size: 23px !important;
}

.share-font {
  font-size: 36px !important;
}

.narrow-btn {
  min-width: 64px !important;
}

.short-text-field .v-input__slot {
  width: 80px;
}

.my-login-font-color {
  color: rgb(6, 95, 212) !important;
}

.homepage-tabs {
  max-width: 400px;
}
.homepage-tabs .v-slide-group__prev {
  display: none !important;
}

.homepage-tabs .activated-tab{
  font-weight: bold;
  position: relative;
}

.homepage-tabs .activated-tab::after {
  position: absolute;
  content: ' ';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #db8f01d0;
  top: 13px;
  right: 5px;
}

.scene-chip {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  /* white-space: pre; */
}

.tag-chip {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.avatar-circle {
  /* border-radius: 50%; */
}